<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="assets/css/base.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="/assets/img/rewardreports2.png">
  <link rel="shortcut icon" sizes="192x192" href="/assets/img/rewardreports2.png">
  <link rel="apple-touch-icon" href="/assets/img/rewardreports2.png">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

  <div class="container" id="header">

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav mx-auto">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/workshop.html">2022 RLDM Workshop</a></li>
        <li class="nav-link"><a href="https://arxiv.org/abs/2204.10817">On Arxiv</a></li>
        <li class="nav-link"><a href="https://github.com/RewardReports/reward-reports">On Github</a></li>
        <li class="nav-link"><a href="/team.html">Team</a></li>
        <li class="nav-link"><a href="https://github.com/RewardReports/RewardReports.github.io/blob/main/_layouts/Reward%20Reports%20hiring%20sheet.pdf">Hiring Sheet</a></li>
      </ul>

    </div> <!-- navbar-main -->

  </div> 

</nav> <!-- navbar -->

<body>

  <div class="container" id="content">

    <div class="page-content">

      <div class="row justify-content-center">
        <table>
          <tr> <td><center><img src={{site.logo}} style="max-width:70%;min-width:100px; " /> </center></td>
        <td>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <div class="break"></div>
        <h3><em>Towards Documentation and Understanding of Dynamic Machine Learning Systems</em></h3></div>
        </td></tr></table>
        <div class="break"></div>

        <h4> ‼️ <strong>HIRING</strong>! We are hiring an intern(s) to help build out Reward Reports! If interested in ethical AI, documentation, or sociotechnical considerations of RL systems, please contact tg299 at cornell dot edu.</h4>
        
        <!-- <h4 class="text-center"></h4> -->
        <hr>

      </div> <!-- row -->

      {{ content }}

    </div> <!-- container -->

  </div> <!-- page-content -->

  <nav class="navbar fixed-bottom navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand" href="mailto:geese-org@lists.berkeley.edu">Contact Organizers</a>
  </nav>

</body>
</html>
